@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
.navcontainer {
  @apply shadow-sm fixed w-full z-10  bg-black;
}

.link {
  color: #fff;
  font-family: 'Red Hat Display', sans-serif;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
  height: 4px;

  background: linear-gradient(
    90deg,
    hsla(30, 100%, 55%, 1) 0%,
    hsla(0, 0%, 100%, 1) 50%,
    hsla(102, 54%, 40%, 1) 100%
  );

  background-size: 0% 4px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
  border-radius: 10px;
}

.link:hover::after {
  background-size: 100% 4px;
  background-position: 0 100%;
}

.switchmob {
  transition: all 1s ease-in-out;
}

.active {
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
  height: 4px;

  background: linear-gradient(
    90deg,
    hsla(30, 100%, 55%, 1) 0%,
    hsla(0, 0%, 100%, 1) 50%,
    hsla(102, 54%, 40%, 1) 100%
  );

  background-size: 100% 4px;
  background-position: 0 100%;
  border-radius: 10px;
}

.logo {
  margin: auto;
}

.readmore {
  color: red;
}

.lol {
  background-attachment: fixed;
}

.fontat {
  font-family: 'Red Hat Display', sans-serif;
}

.Font-dotSlash {
  font-size: 1.14rem;
}
